openapi: 3.0.3
info:
  title: School Management API
  description: >
    API for managing users, careers, promotions, groups, courses, exams and grades,
    including transcript delivery by email and graduate list exports.
  version: 1.0.0

servers:
  - url: https://ce662nwxk7c5pmpunht2ntmhc40njaoq.lambda-url.eu-west-3.on.aws/
    description: AWS
  - url: http://localhost:9090/
    description: local

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Users
  - name: Careers
  - name: Promotions
  - name: Semesters
  - name: Groups
  - name: Courses
  - name: CareerCourses
  - name: UserGroups
  - name: UserPromotions
  - name: CourseTeachers
  - name: CourseGroups
  - name: Exams
  - name: Grades
  - name: GradeHistory
  - name: Transcripts
  - name: GraduatesExport
  - name: Health
  - name: UI

paths:

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new student account (no authentication required)
      description: >
        Creates a user account with a password. The password is hashed before
        storage and is never returned by the API. For security, self-registration
        always creates a STUDENT account: any role sent in the request body is
        ignored and the account is saved with role STUDENT. TEACHER and ADMIN
        accounts can only be created by an administrator through POST /users.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
      responses:
        '200':
          description: User registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in and obtain a JWT bearer token
      description: >
        Exchanges valid credentials (email + password) for a signed JWT.
        The token is also set as an HttpOnly cookie (`jwt_token`) for
        browser-based UI usage. The token must be sent as an Authorization
        header `Authorization: Bearer <token>` or via the cookie on all
        other endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: JWT issued
          headers:
            Set-Cookie:
              description: HttpOnly JWT cookie
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Log out and revoke the current token
      description: >
        Revokes the JWT token (blacklists it) and clears the cookie.
        Works with both Bearer header and cookie-based tokens.
      responses:
        '200':
          description: Logged out successfully
          headers:
            Set-Cookie:
              description: Cleared JWT cookie
              schema:
                type: string

  /auth/me:
    get:
      tags: [Auth]
      summary: Get the current authenticated user's profile
      description: >
        Returns the profile of the currently authenticated user.
        Requires a valid JWT token (via header or cookie).
      responses:
        '200':
          description: The current user's profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users:
    get:
      tags: [Users]
      summary: List users
      description: "Requires role: ADMIN."
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: role
          schema:
            $ref: '#/components/schemas/Role'
          description: Filter by role
      responses:
        '200':
          description: Paged list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponsePage'
    post:
      tags: [Users]
      summary: Create a user
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'

  /users/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Users]
      summary: Get a user by id
      description: "Requires role: ADMIN, or the requesting user fetching their own record."
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Users]
      summary: Update a user
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Users]
      summary: Delete a user
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: User deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /users/me/grades:
    get:
      tags: [Users]
      summary: Get the current authenticated student's own grades
      description: "Requires role: STUDENT. A student may only ever see their own grades, never another student's."
      parameters:
        - in: query
          name: semesterId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of the student's grades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeResponse'


  /careers:
    get:
      tags: [Careers]
      summary: List careers (curricula / specializations)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paged list of careers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerResponsePage'
    post:
      tags: [Careers]
      summary: Create a career
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareerRequest'
      responses:
        '201':
          description: Career created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerResponse'

  /careers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Careers]
      summary: Get a career by id
      responses:
        '200':
          description: The career
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Careers]
      summary: Update a career
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareerRequest'
      responses:
        '200':
          description: Career updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Careers]
      summary: Delete a career
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Career deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions:
    get:
      tags: [Promotions]
      summary: List promotions (cohorts)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paged list of promotions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponsePage'
    post:
      tags: [Promotions]
      summary: Create a promotion
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotionRequest'
      responses:
        '201':
          description: Promotion created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'

  /promotions/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Promotions]
      summary: Get a promotion by id
      responses:
        '200':
          description: The promotion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Promotions]
      summary: Update a promotion
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotionRequest'
      responses:
        '200':
          description: Promotion updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Promotions]
      summary: Delete a promotion
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Promotion deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions/{id}/graduates:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Promotions]
      summary: List graduated students of a promotion (JSON)
      description: "Requires role: ADMIN. Feature: promotion results over the 3-year program."
      responses:
        '200':
          description: List of graduated students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponse'

  /promotions/{id}/students-grades:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Promotions]
      summary: Get students and their grades for a promotion
      description: >
        Requires role: ADMIN or TEACHER. Returns a view of every enrolled
        student's grades in the promotion. ADMIN sees all courses and exams.
        TEACHER sees only the grades for courses they teach; grades for other
        courses are filtered out.
      responses:
        '200':
          description: Students with their grades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionStudentsGradesResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /semesters:
    get:
      tags: [Semesters]
      summary: List semesters
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: promotionId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paged list of semesters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SemesterResponsePage'
    post:
      tags: [Semesters]
      summary: Create a semester
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SemesterRequest'
      responses:
        '201':
          description: Semester created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SemesterResponse'

  /semesters/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Semesters]
      summary: Get a semester by id
      responses:
        '200':
          description: The semester
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SemesterResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Semesters]
      summary: Update a semester
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SemesterRequest'
      responses:
        '200':
          description: Semester updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SemesterResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Semesters]
      summary: Delete a semester
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Semester deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /groups:
    get:
      tags: [Groups]
      summary: List groups
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: promotionId
          schema:
            type: string
            format: uuid
        - in: query
          name: careerId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paged list of groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponsePage'
    post:
      tags: [Groups]
      summary: Create a group
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'

  /groups/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Groups]
      summary: Get a group by id
      responses:
        '200':
          description: The group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Groups]
      summary: Update a group
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
      responses:
        '200':
          description: Group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Groups]
      summary: Delete a group
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Group deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /courses:
    get:
      tags: [Courses]
      summary: List courses
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paged list of courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponsePage'
    post:
      tags: [Courses]
      summary: Create a course
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseRequest'
      responses:
        '201':
          description: Course created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'

  /courses/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Courses]
      summary: Get a course by id
      responses:
        '200':
          description: The course
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Courses]
      summary: Update a course
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseRequest'
      responses:
        '200':
          description: Course updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Courses]
      summary: Delete a course
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Course deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /career-courses:
    get:
      tags: [CareerCourses]
      summary: List career-course curriculum links
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: careerId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paged list of career-course links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerCourseResponsePage'
    post:
      tags: [CareerCourses]
      summary: Add a course to a career's curriculum
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareerCourseRequest'
      responses:
        '201':
          description: Career-course link created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerCourseResponse'

  /career-courses/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [CareerCourses]
      summary: Get a career-course link by id
      responses:
        '200':
          description: The career-course link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerCourseResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [CareerCourses]
      summary: Update a career-course link
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareerCourseRequest'
      responses:
        '200':
          description: Career-course link updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerCourseResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [CareerCourses]
      summary: Remove a course from a career's curriculum
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Career-course link deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /user-groups:
    get:
      tags: [UserGroups]
      summary: List student group memberships (history included)
      description: "Requires role: ADMIN or TEACHER. Records with a null endDate are the student's current group."
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: userId
          schema:
            type: string
            format: uuid
        - in: query
          name: groupId
          schema:
            type: string
            format: uuid
        - in: query
          name: current
          schema:
            type: boolean
          description: If true, only return memberships with no endDate
      responses:
        '200':
          description: Paged list of group memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponsePage'
    post:
      tags: [UserGroups]
      summary: Assign a student to a group
      description: >
        Requires role: ADMIN. When a student changes group, the previous open
        UserGroup record's endDate should be closed as part of this operation
        server-side (handled by the service layer, not by the client).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupRequest'
      responses:
        '201':
          description: Group membership created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'

  /user-groups/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [UserGroups]
      summary: Get a group membership record by id
      responses:
        '200':
          description: The group membership record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [UserGroups]
      summary: Update a group membership record
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupRequest'
      responses:
        '200':
          description: Group membership updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [UserGroups]
      summary: Delete a group membership record
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Group membership deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /user-promotions:
    get:
      tags: [UserPromotions]
      summary: List student-promotion enrollments
      description: "Requires role: ADMIN."
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: userId
          schema:
            type: string
            format: uuid
        - in: query
          name: promotionId
          schema:
            type: string
            format: uuid
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/PromotionStatus'
      responses:
        '200':
          description: Paged list of enrollments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPromotionResponsePage'
    post:
      tags: [UserPromotions]
      summary: Enroll a student in a promotion
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPromotionRequest'
      responses:
        '201':
          description: Enrollment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPromotionResponse'

  /user-promotions/repeat:
    post:
      tags: [UserPromotions]
      summary: Mark a student as repeating a year and enroll them in a new promotion
      description: >
        Requires role: ADMIN. Atomically transitions the student's enrollment in
        the source promotion to status REPEATING (endDate set to now) and creates
        a new IN_PROGRESS enrollment for the target promotion in the same
        transaction. The old enrollment is never left IN_PROGRESS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPromotionRepeatRequest'
      responses:
        '201':
          description: New enrollment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPromotionResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'

  /user-promotions/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [UserPromotions]
      summary: Get an enrollment by id
      responses:
        '200':
          description: The enrollment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPromotionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [UserPromotions]
      summary: Update an enrollment (e.g. mark as graduated, transferred, dropped out)
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPromotionRequest'
      responses:
        '200':
          description: Enrollment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPromotionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [UserPromotions]
      summary: Delete an enrollment
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Enrollment deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /course-teachers:
    get:
      tags: [CourseTeachers]
      summary: List course-teacher assignments
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: courseId
          schema:
            type: string
            format: uuid
        - in: query
          name: teacherId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paged list of course-teacher assignments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseTeacherResponsePage'
    post:
      tags: [CourseTeachers]
      summary: Assign a teacher to a course
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseTeacherRequest'
      responses:
        '201':
          description: Assignment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseTeacherResponse'

  /course-teachers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [CourseTeachers]
      summary: Get a course-teacher assignment by id
      responses:
        '200':
          description: The assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseTeacherResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [CourseTeachers]
      summary: Update a course-teacher assignment
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseTeacherRequest'
      responses:
        '200':
          description: Assignment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseTeacherResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [CourseTeachers]
      summary: Remove a teacher from a course
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Assignment deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /course-groups:
    get:
      tags: [CourseGroups]
      summary: List which groups a course is taught to, by which teacher
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: courseId
          schema:
            type: string
            format: uuid
        - in: query
          name: teacherId
          schema:
            type: string
            format: uuid
        - in: query
          name: groupId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paged list of course-group assignments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseGroupResponsePage'
    post:
      tags: [CourseGroups]
      summary: Assign a course (taught by a teacher) to a group
      description: "Requires role: ADMIN. A course does not have to be assigned to every group of a promotion."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseGroupRequest'
      responses:
        '201':
          description: Assignment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseGroupResponse'

  /course-groups/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [CourseGroups]
      summary: Get a course-group assignment by id
      responses:
        '200':
          description: The assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseGroupResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [CourseGroups]
      summary: Update a course-group assignment
      description: "Requires role: ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseGroupRequest'
      responses:
        '200':
          description: Assignment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseGroupResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [CourseGroups]
      summary: Delete a course-group assignment
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Assignment deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /exams:
    get:
      tags: [Exams]
      summary: List exams
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: courseId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paged list of exams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamResponsePage'
    post:
      tags: [Exams]
      summary: Create an exam
      description: "Requires role: TEACHER (own course) or ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamRequest'
      responses:
        '201':
          description: Exam created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamResponse'

  /exams/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Exams]
      summary: Get an exam by id
      responses:
        '200':
          description: The exam
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Exams]
      summary: Update an exam
      description: "Requires role: TEACHER (own course) or ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamRequest'
      responses:
        '200':
          description: Exam updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Exams]
      summary: Delete an exam
      description: "Requires role: TEACHER (own course) or ADMIN."
      responses:
        '204':
          description: Exam deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /grades:
    get:
      tags: [Grades]
      summary: List grades
      description: >
        Requires role: ADMIN (all grades), TEACHER (grades of their own courses only),
        or STUDENT (use /users/me/grades instead - a student cannot list other
        students' grades through this endpoint).
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - in: query
          name: examId
          schema:
            type: string
            format: uuid
        - in: query
          name: studentId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paged list of grades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeResponsePage'
    post:
      tags: [Grades]
      summary: Record a new grade
      description: "Requires role: TEACHER (own course's exams) or ADMIN."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GradeRequest'
      responses:
        '201':
          description: Grade created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeResponse'

  /grades/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [Grades]
      summary: Get a grade by id
      description: "Requires role: ADMIN, TEACHER of the course, or the STUDENT it belongs to."
      responses:
        '200':
          description: The grade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Grades]
      summary: Delete a grade
      description: "Requires role: ADMIN."
      responses:
        '204':
          description: Grade deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /grades/{id}/correct:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    patch:
      tags: [Grades]
      summary: Correct a grade's value
      description: >
        Requires role: TEACHER (own course) or ADMIN. A reason is mandatory:
        every correction is appended to that grade's history log
        (see /grades/{id}/history) instead of silently overwriting the value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GradeCorrectionRequest'
      responses:
        '200':
          description: Grade corrected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /grades/{id}/history:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [GradeHistory]
      summary: Get the full modification history of a grade
      description: "Requires role: ADMIN, TEACHER of the course, or the STUDENT it belongs to."
      responses:
        '200':
          description: List of historical modifications, most recent first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeHistoryResponse'

  /students/{studentId}/degrees:
    parameters:
      - name: studentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Users]
      summary: Get a student's degree status
      description: >
        Requires role: ADMIN, or the STUDENT viewing their own degree.
        Returns the student's course grades, total credits earned, and
        whether they have passed all requirements.
      responses:
        '200':
          description: Degree status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DegreeResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/{studentId}/transcript/send:
    parameters:
      - name: studentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Transcripts]
      summary: Generate a PDF transcript and email it to the student
      description: >
        Requires role: ADMIN, or the STUDENT sending their own transcript.
        Generates a PDF transcript of grades, uploads it to S3, and emails
        the student a link to the file.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptSendRequest'
      responses:
        '202':
          description: Transcript generation and email dispatch accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptSendResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions/{promotionId}/graduates/export:
    parameters:
      - name: promotionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [GraduatesExport]
      summary: Request the asynchronous generation of the graduates Excel file
      description: >
        Requires role: ADMIN. Returns 202 Accepted immediately. The graduates list
        (rank, ref, firstname, lastname, overall average) is computed and the .xlsx
        file is generated asynchronously by a worker and uploaded to AWS S3. A student
        is considered graduated only if he has earned all the credits of his career
        (180 credits over the 3-year program), which requires an overall average of at
        least 10/20 for every course. Once generated, the file can be downloaded with
        GET /promotions/{promotionId}/graduates/export.
      responses:
        '202':
          description: Export generation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraduatesExportResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags: [GraduatesExport]
      summary: Download the generated graduates Excel file from S3
      description: >
        Requires role: ADMIN. Returns the .xlsx file previously generated by the
        asynchronous export request (see POST /promotions/{promotionId}/graduates/export).
        Returns 404 while the file is not available yet.
      responses:
        '200':
          description: Excel file of graduates
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  /ping:
    get:
      tags: [Health]
      summary: Simple health check
      description: Public endpoint. Returns "pong" to confirm the API is running.
      responses:
        '200':
          description: API is alive
          content:
            text/plain:
              schema:
                type: string
                example: pong

  /health/bucket:
    get:
      tags: [Health]
      summary: Check file bucket storage connectivity
      description: >
        Public endpoint. Tests upload, download, directory upload, and presigning
        on the configured file bucket (e.g. AWS S3). Returns a presigned URL on success.
      responses:
        '200':
          description: Bucket is operational
          content:
            text/plain:
              schema:
                type: string

  /health/email:
    get:
      tags: [Health]
      summary: Check email system connectivity
      description: >
        Public endpoint. Sends 5 test emails (subject-only, CC, BCC, body,
        attachment) to the specified address.
      parameters:
        - in: query
          name: to
          required: true
          schema:
            type: string
            format: email
          description: Email address to send the test emails to
      responses:
        '200':
          description: Emails sent successfully
          content:
            text/plain:
              schema:
                type: string
                example: OK

  /ui/promotions:
    get:
      tags: [UI]
      summary: Server-rendered Thymeleaf page listing student grades per promotion
      description: >
        Requires role: ADMIN or TEACHER. Renders a read-only HTML page that
        lists every promotion and, for each enrolled student, the grades per
        course and exam. ADMIN sees grades for all courses; TEACHER only sees
        the grades for the courses they teach. Graduate download is not
        available on this page; it lives on the main dashboard /ui.
      responses:
        '200':
          description: HTML page
          content:
            text/html:
              schema:
                type: string

  /ui:
    get:
      tags: [UI]
      summary: Server-rendered dashboard page
      description: >
        Requires authentication. Renders the main dashboard HTML page. ADMIN
        and TEACHER see the promotion overview (label, start year, id) with,
        for ADMIN, the "Download Graduates (Excel)" action, and can navigate
        to /ui/promotions from the navbar. STUDENT does not see promotion
        information; only their own grades section is shown.
      responses:
        '200':
          description: HTML page
          content:
            text/html:
              schema:
                type: string

  /ui/login:
    get:
      tags: [UI]
      summary: Server-rendered login page
      description: Public endpoint. Renders the login form.
      responses:
        '200':
          description: HTML page
          content:
            text/html:
              schema:
                type: string

  /ui/signup:
    get:
      tags: [UI]
      summary: Server-rendered signup page
      description: Public endpoint. Renders the registration form.
      responses:
        '200':
          description: HTML page
          content:
            text/html:
              schema:
                type: string

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    SizeParam:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict (e.g. duplicate unique field)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or missing credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        type:
          type: string
          example: Bearer
        userId:
          type: string
          format: uuid
        role:
          $ref: '#/components/schemas/Role'

    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
        message:
          type: string
        timestamp:
          type: string
          format: date-time

    Role:
      type: string
      enum: [TEACHER, STUDENT, ADMIN]

    Specialization:
      type: string
      enum: [EL, TN]
      nullable: true
      description: Null means tronc commun (no specialization chosen yet)

    UserRequest:
      type: object
      required: [ref, email, password, role]
      properties:
        ref:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        role:
          $ref: '#/components/schemas/Role'

    UserResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email
        role:
          $ref: '#/components/schemas/Role'

    UserResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    CareerRequest:
      type: object
      properties:
        title:
          type: string
        specialization:
          $ref: '#/components/schemas/Specialization'

    CareerResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        specialization:
          $ref: '#/components/schemas/Specialization'

    CareerResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    PromotionRequest:
      type: object
      required: [label, startYear]
      properties:
        label:
          type: string
        startYear:
          type: integer

    PromotionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        label:
          type: string
        startYear:
          type: integer

    PromotionResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    SemesterRequest:
      type: object
      required: [promotionId, number]
      properties:
        promotionId:
          type: string
          format: uuid
        number:
          type: integer
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time

    SemesterResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        promotionId:
          type: string
          format: uuid
        number:
          type: integer
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time

    SemesterResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    GroupRequest:
      type: object
      required: [ref, promotionId, careerId]
      properties:
        ref:
          type: string
        promotionId:
          type: string
          format: uuid
        careerId:
          type: string
          format: uuid

    GroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
        promotionId:
          type: string
          format: uuid
        careerId:
          type: string
          format: uuid

    GroupResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    CourseRequest:
      type: object
      required: [ref]
      properties:
        ref:
          type: string
        title:
          type: string
        credits:
          type: integer

    CourseResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
        title:
          type: string
        credits:
          type: integer

    CourseResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    CareerCourseRequest:
      type: object
      required: [careerId, courseId, semesterNumber]
      properties:
        careerId:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        semesterNumber:
          type: integer

    CareerCourseResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        careerId:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        semesterNumber:
          type: integer

    CareerCourseResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    UserGroupRequest:
      type: object
      required: [userId, groupId]
      properties:
        userId:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
          nullable: true

    UserGroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
          nullable: true

    UserGroupResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    PromotionStatus:
      type: string
      enum: [IN_PROGRESS, GRADUATED, REPEATING, TRANSFERRED, DROPPED_OUT]

    UserPromotionRequest:
      type: object
      required: [userId, promotionId]
      properties:
        userId:
          type: string
          format: uuid
        promotionId:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/PromotionStatus'
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        graduationDate:
          type: string
          format: date-time
          nullable: true

    UserPromotionRepeatRequest:
      type: object
      required: [userId, fromPromotionId, toPromotionId]
      properties:
        userId:
          type: string
          format: uuid
        fromPromotionId:
          type: string
          format: uuid
        toPromotionId:
          type: string
          format: uuid

    UserPromotionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        promotionId:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/PromotionStatus'
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        graduationDate:
          type: string
          format: date-time
          nullable: true

    UserPromotionResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    CourseTeacherRequest:
      type: object
      required: [courseId, teacherId]
      properties:
        courseId:
          type: string
          format: uuid
        teacherId:
          type: string
          format: uuid

    CourseTeacherResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        teacherId:
          type: string
          format: uuid

    CourseTeacherResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    CourseGroupRequest:
      type: object
      required: [courseId, teacherId, groupId]
      properties:
        courseId:
          type: string
          format: uuid
        teacherId:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid

    CourseGroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        teacherId:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid

    CourseGroupResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    ExamRequest:
      type: object
      required: [courseId, semesterId, coefficient]
      properties:
        courseId:
          type: string
          format: uuid
        semesterId:
          type: string
          format: uuid
        title:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        coefficient:
          type: number
          format: double
          minimum: 0
          maximum: 9.99

    ExamResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        semesterId:
          type: string
          format: uuid
        title:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        coefficient:
          type: number
          format: double

    ExamResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    GradeRequest:
      type: object
      required: [examId, studentId, value]
      properties:
        examId:
          type: string
          format: uuid
        studentId:
          type: string
          format: uuid
        value:
          type: number
          format: double
          minimum: 0
          maximum: 20
        description:
          type: string

    GradeCorrectionRequest:
      type: object
      required: [value, reason]
      properties:
        value:
          type: number
          format: double
          minimum: 0
          maximum: 20
        reason:
          type: string
          description: Mandatory explanation, stored in the grade's history log

    GradeResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        examId:
          type: string
          format: uuid
        studentId:
          type: string
          format: uuid
        value:
          type: number
          format: double
        assignmentDate:
          type: string
          format: date-time
        description:
          type: string

    GradeResponsePage:
      $ref: '#/components/schemas/PageEnvelope'

    GradeHistoryResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        gradeId:
          type: string
          format: uuid
        oldValue:
          type: number
          format: double
          nullable: true
        newValue:
          type: number
          format: double
        reason:
          type: string
        modifiedById:
          type: string
          format: uuid
        modifiedAt:
          type: string
          format: date-time

    TranscriptSendRequest:
      type: object
      properties:
        semesterId:
          type: string
          format: uuid
          description: Optional. If omitted, the full transcript across all semesters is sent.

    TranscriptSendResponse:
      type: object
      properties:
        message:
          type: string
        s3Url:
          type: string
          format: uri

    PageEnvelope:
      type: object
      properties:
        content:
          type: array
          items: {}
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    DegreeResponse:
      type: object
      properties:
        studentId:
          type: string
          format: uuid
        courseGrades:
          type: array
          items:
            $ref: '#/components/schemas/DegreeCourseGrade'
        totalCredits:
          type: integer
        requiredCreditsPerSemester:
          type: integer
        requiredCreditsPerYear:
          type: integer
        passed:
          type: boolean

    DegreeCourseGrade:
      type: object
      properties:
        courseId:
          type: string
          format: uuid
        courseTitle:
          type: string
        credits:
          type: integer
        latestGrade:
          type: number
          format: double
        examId:
          type: string
          format: uuid
        passed:
          type: boolean

    PromotionStudentsGradesResponse:
      type: object
      properties:
        promotionId:
          type: string
          format: uuid
        promotionLabel:
          type: string
        startYear:
          type: integer
        students:
          type: array
          items:
            $ref: '#/components/schemas/StudentWithGrades'

    StudentWithGrades:
      type: object
      properties:
        studentId:
          type: string
          format: uuid
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        courseGrades:
          type: array
          items:
            $ref: '#/components/schemas/PromotionCourseGrade'

    PromotionCourseGrade:
      type: object
      properties:
        courseId:
          type: string
          format: uuid
        courseTitle:
          type: string
        credits:
          type: integer
        examTitle:
          type: string
        grade:
          type: number
          format: double
        examId:
          type: string
          format: uuid

    GraduatesExportResponse:
      type: object
      properties:
        message:
          type: string

    GraduateExportRow:
      type: object
      description: >
        A graduated student as displayed in the exported Excel file. A student is
        graduated only if he has earned all 180 credits (sum of every course credit of
        his career), which requires an overall average of at least 10/20 for every course.
      properties:
        rank:
          type: integer
          description: Position in the promotion ordered by decreasing overall average
        ref:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        overallAverage:
          type: number
          format: double
          description: Credit-weighted overall average over all courses since the beginning